@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,400&display=swap');
*{
    margin: 0;
}

html{
    background: #272643;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, p{
    margin: 0;
}

.time{
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 50px;
    color: #f5f5f5;
}

.hour, .minute{
    margin-left: 9px;
    width: 80px;
    height: 80px;
    background: #f5f5f5;
    box-shadow:
        0 0 0 5px #272643,
        0 0 0 7px #f5f5f5;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    color: #272643;
}

.hour h2, .minute h2, .time h2{
    font-weight: lighter;
}

.minute{
    margin-top: 20px;
}

.date h2{
    font-size: 18px;
    margin-bottom: 10px;
}

#planet{
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.linkBox{
    position: absolute;
    left: 50%;
    bottom: 200px;
    width: 169px;
    height: 170px;
    transform: translate(-50%);
}

.linkBox div{
    display: inline-block;
}

.linkBox img{
    width: 40px;
    transition: .5s;
}

.r11, .r12, .r21, .r22, .r31, .r32{
    margin-right: 20px;
}

.r11, .r12, .r13, .r21, .r22, .r23{
    margin-bottom: 15px;
}

.linkBox a:hover img{
    transform: rotateY(360deg);
}

.weatherBox{
    margin: 15px;
    width: 150px;
    transition: .5ms;
    color: #f5f5f5;
}

.weatherBox h2, h3{
    font-weight: lighter;
    font-size: 18px;
}

.weatherBox h3{
    font-size: 12px;
}

.weatherBox img{
    width: 30px;
}

.weatherBox:hover .weatherDetail{
    opacity:100%;
    transition:opacity 0.5s
}

.weatherDetail{
    width: 300px;
    /* height: 200px; */
    margin-top: 20px;
    transition: .5ms;
    opacity: 0;
    border: 1px solid #f5f5f563;
    padding: 2px
}

#cTemp{
    font-size: 24px;
    display: inline-block;
}

.coordBox{
    color: #f5f5f5;
    position: absolute;
    top: 0;
    right: 0;
}

.coordBox p{
    font-weight: lighter;
}

@media only screen and (max-width: 600px) {
    .time{
        top: 140px
    }

    .weatherDetail{
        width: 106px;
    }
  }

/* ANIMATION */